.header {
  background-color: #1da0a2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 2rem; }
  .header a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: #222;
    text-shadow: 5px 5px 15px; }
  .header .logo-header img {
    width: 400px; }
  .header .nav-menu ul {
    display: flex;
    flex-wrap: wrap; }
  .header .nav-menu li {
    margin-right: 1.5rem; }
  .header .nav-menu a:hover {
    color: #ffecec;
    background-color: aqua;
    border: 2px solid #282828;
    box-shadow: 25px 15px 15px rgba(123, 224, 255, 0.658);
    padding: .25rem .75rem;
    border-radius: 15px;
    transition: all .2s; }
  .header i {
    font-size: 30px; }
  .header i, .header #check {
    display: none; }
  @media (max-width: 1150px) {
    .header .checkbtn {
      display: block;
      cursor: pointer; }
    .header .logo-header img {
      width: 250px; }
    .header i {
      display: block;
      position: fixed;
      top: 20px;
      right: 20px;
      text-align: center; }
    .header .nav-menu ul {
      display: block;
      position: fixed;
      top: 70px;
      left: -100%;
      border: 1px solid black;
      width: 100%;
      height: 60vh;
      right: 0;
      background-color: #1da0a2;
      margin-top: 10px; }
    .header .nav-menu ul li {
      padding: 2rem;
      display: flex;
      justify-content: center;
      margin: 0; }
    .header #check:checked ~ ul {
      left: 0;
      transition: all .25s; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

footer {
  background-color: #1da0a2; }
  footer p {
    font-size: 20px;
    margin: 10px 0; }
  footer .redes-container {
    height: auto;
    margin-top: 15px;
    padding: 5px 10px;
    line-height: 60px;
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap; }
  footer i {
    color: black; }
  footer .redes-container a {
    font-size: 50px; }

.main-index .main-space {
  margin-bottom: 300px;
  margin-top: 500px; }

.nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 15px;
  border: 2px solid #31cbfa;
  width: 50%;
  height: 500px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: 20px 15px 35px aqua;
  background-image: url(/images/nosotros.jpg);
  font-size: 5px;
  flex-wrap: wrap; }
  .nosotros .nosotros-title {
    padding: 15px;
    color: white; }
  .nosotros p {
    margin-top: 15px;
    text-align: center;
    color: white; }
  .nosotros:hover {
    width: 80%;
    height: 800px;
    transition: 5s;
    background-image: url(/images/40ea801b-45eb-4d34-a17c-106e867d0ab0.jpg);
    font-size: 35px; }

@media (max-width: 500px) {
  .nosotros p {
    font-size: 15px; } }

.grid-nosotros {
  padding: 5px 10px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px;
  grid-gap: 15px; }
  .grid-nosotros .grid-nosotros-card {
    padding: 10px;
    border: 1px solid black;
    background-color: cadetblue;
    font-size: 20px;
    border-radius: 1em; }

@media (max-width: 1000px) {
  .grid-nosotros {
    padding: 5px 10px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px 200px 200px;
    grid-gap: 10px; }
  .grid-nosotros-card {
    padding: 10px;
    border: 1px solid black;
    background-color: cadetblue;
    font-size: 10px;
    border-radius: 1em; } }
