@import "../variables/variables";

$redes:(
    color: $blue,
    center: $alinear-al-centro,
    ancho: 16px,
    margin: 40px
);

.sectionMap{
    display: flex;
    align-items: map-get($redes, center);
    justify-content: map-get($redes, center);
}
.tittleMap{
    color: map-get($redes, color);
    margin-top: map-get($redes, margin);
}